*{
    font-size: 25px;
}
#list1 li {
    color: red;
}

#list1 li + li {
    color: black;
}

#list1 li + li + li {
    color: red;
}

#list1 li + li + li + li {
    color: black;
}

#list1 li + li + li + li + li {
    color: red;
}

#list1 li + li + li + li + li + li {
    color: black;
}

#list1 li + li + li + li + li + li + li {
    color: red;
}

#list1 li + li + li + li + li + li + li + li {
    color: black;
}

#list1 li + li + li + li + li + li + li + li + li {
    color: red;
}

#list1 li + li + li + li + li + li + li + li + li + li {
    color: black;
}
