*{
    font-size: 25px;
}

.box-1 ul li {
    color: red;
}

.box-1 ul li + li {
    color: black;
}

.box-1 ul li + li + li {
    color: red;
}

.box-1 ul li + li + li + li {
    color: black;
}

.box-1 ul li + li + li + li + li {
    color: red;
}

.box-1 ul li + li + li + li + li + li {
    color: black;
}

.box-1 ul li + li + li + li + li + li + li {
    color: red;
}

.box-1 ul li + li + li + li + li + li + li + li {
    color: black;
}

.box-1 ul li + li + li + li + li + li + li + li + li {
    color: red;
}

.box-1 ul li + li + li + li + li + li + li + li + li + li {
    color: black;
}
